@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyFirstAspMvc.Models.RegisterModel

        <div class="title">Registration</div>
        <form method="post" action="@Url.Action("Register", "Account")">

            @if (Model != null && Model.IsError)
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Message
                </div>
            }

            <div>
                <div class="field">
                    <input value="@(Model != null ? Model.Name : "")" name="name" id="name" type="text" placeholder="Enter your name">
                </div>
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "small" })
            </div>

            <div>
                <div class="field">
                    @*@Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your email", name = "email", id = @Html.DisplayNameFor(x => x.Email), type = "email" })*@
                    <input value="@(Model != null ? Model.Email : "")" name="email" id="email" type="email" placeholder="Enter your email">
                </div>
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "small" })
            </div>

            <div>
                <div class="field">
                    @*@Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter your password", name = "password", id = @Html.DisplayNameFor(x => x.Password), type = "password" })*@
                    <input name="password" id="password" type="password" placeholder="Enter your password">
                </div>
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "small" })
            </div>

            <div>
                <div class="field">
                    <input name="confimpassword" id="confirmpassword" type="password" placeholder="Confirm your password">
                </div>
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "small" })
            </div>


            <div class="field">
                <input type="submit" value="Register">
            </div>

            <div class="signup-link">
                <a href="@Url.Action("Login", "Account")">Connexion</a>
            </div>

            <div class="signup-link">
                <a href="@Url.Action("Contrat", "Account")">term and contrat</a>
            </div>

        </form>