@model MyFirstAspMvc.Models.RegisterModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">Registration</div>
        <form method="post" action="@Url.Action("Login","Register")">

            @if (Model != null && Model.IsError)
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Message
                </div>
            }

            <div class="field">
                <input value="@(Model != null ? Model.Name : "")" name="name"
                       id="name" type="text" placeholder="Enter your name" required>
            </div>

            <div class="field">
                <input value="@(Model != null ? Model.Email : "")" name="email" id="email" type="text" placeholder="Enter your email" required>
            </div>

            <div class="field">
                <input name="password" id="password" type="password" placeholder="Enter your password" required>
            </div>

            <div class="field">
                <input name="confimpassword" id="confirmpassword" type="password" placeholder="Confirm your password" required>
            </div>

            <div class="field">
                <input type="submit" value="Register">
            </div>

            <div class="signup-link">
                <a href="@Url.Action("Login", "Account")">Connexion</a>
            </div>

            <div class="signup-link">
                <a href="@Url.Action("Contrat", "Account")">term and contrat</a>
            </div>

        </form>
    </div>
</body>
</html>